.vscode/**
.vscode-test/**
.gitignore
node_modules/
!node_modules/tree-sitter
!node_modules/tree-sitter-br
!node_modules/node-gyp-build
!node_modules/node-addon-api
vsc-extension-quickstart.md
src
*.vsix